@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.content_catalogue {
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  .content_courses {
    text-align: center;
    .course {
      margin: 1rem 0;
      text-align: center;

      h2 {
        text-align: center;
      }
      img {
        width: 300px;
        margin: 10px 5px 0 5px;
        border-radius: 5px;
        border: 1px solid v.$negro;
      }
      .content_button {
        button {
          padding: 10px;
          margin: 1rem auto;
          column-gap: 5px;
          display: flex;
          width: 300px;
          align-items: center;
          justify-content: center;
        }
      }
      hr {
        width: 85%;
        margin: 0% auto;
      }
    }
  }
}

// Versión responsive
@include m.tablet {
  .content_catalogue {
    .content_courses {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@include m.desktop {
  .content_catalogue {
    h1 {
      font-size: 4rem;
    }
    .content_courses {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      .course {
        img {
          width: 400px;
        }
        .content_button {
          button {
            width: 400px;
          }
        }
      }
    }
  }
}
