@use "../base/variables" as v;
@use "../base/mixins" as m;

header {
  background-image: url(/img/found-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  nav {
    position: fixed;
    width: 100%;
    display: flex;
    height: 60px;
    justify-content: center;
    backdrop-filter: blur(5px);
    z-index: 9999;
    .left {
      display: none;
    }
    .center_v {
      background-color: v.$grisMedio;
      position: fixed;
      right: 0%;
      top: 0%;
      width: 180px;
      border-radius: 5px;
      transition: 0.99s ease;
      z-index: 9999;
      height: 100vh;
      .content_enlaces {
        .content_toggle-close {
          display: flex;
          align-items: center;
          flex-direction: row-reverse;
          justify-content: center;
          margin-top: 1rem;
          column-gap: 5px;
          svg {
            font-size: 30px;
            transition: 0.25s ease;
            &:hover {
              transform: scale(1.1);
              cursor: pointer;
            }
          }
          h3 {
            font-size: 25px;
          }
        }
        ul {
          li {
            background-color: v.$azulClaro;
            border-radius: 5px;
            display: flex;
            align-items: center;
            column-gap: 5px;
            justify-content: center;
            transition: 0.25s ease;
            padding: 10px 0;
            text-align: center;
            flex-direction: row-reverse;
            margin: 10px 5px;
            &:hover {
              background-color: v.$azul;
              cursor: pointer;
              transform: scale(1.1);
            }
            a {
              font-size: 18px;
              transition: 0.25s ease;
              width: 77px;
              &:hover {
                text-decoration: underline;
                color: v.$gris;
              }
            }
          }
        }
      }
    }
    .center_d {
      right: -100%;
    }
    .right {
      display: flex;
      align-items: center;
      width: 100%;
      column-gap: 10px;
      justify-content: center;
      a {
        button {
          padding: 10px 30px;
          column-gap: 10px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .content_toggle-open-v {
      display: flex;
      align-items: center;
      svg {
        font-size: 30px;
        margin-right: 5px;
        transition: 0.25s ease;
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
  }
  .content_info {
    align-items: center;
    padding-top: 4rem;
    color: v.$blanco;
    .left {
      margin-top: 1rem;
      h1 {
        margin: 0%;
        text-align: center;
        font-size: 3rem;
      }
      .content_start {
        h3 {
          text-align: center;
        }
        .content_button {
          a {
            button {
              margin: 1rem auto;
              display: flex;
              align-items: center;
              column-gap: 5px;
              padding: 1rem 4rem;
            }
          }
        }
      }
    }
    .right {
      text-align: center;
      padding: 1rem 0;
      video {
        width: 300px;
        border-radius: 50%;
        transition: 0.25s ease;
      }
    }
  }
}

//Versión responsive
@include m.tablet {
  header {
    nav {
      .left {
        display: block;
        img {
          width: 150px;
          position: absolute;
          top: -70%;
          left: -5%;
        }
      }
      .center_v {
        width: 200px;
      }
      .right {
        justify-content: end;
        margin-right: 20px;
      }
    }
    .content_info {
      .right {
        video {
          width: 400px;
        }
      }
    }
  }
}
@include m.desktop {
  header {
    height: 100vh;
    nav {
      .left {
        img {
          left: 0%;
          position: relative;
        }
      }
      .center_v {
        position: relative;
        right: auto;
        bottom: auto;
        top: auto;
        width: auto;
        border-radius: 5px;
        background-color: transparent;
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
        .content_enlaces {
          .content_toggle-close {
            display: none;
          }
          ul {
            display: flex;
            column-gap: 10px;
            li {
              background-color: transparent;
              svg {
                display: none;
                column-gap: 0;
              }
              &:hover {
                background-color: transparent;
              }
            }
          }
        }
      }
      .right {
        width: auto;
      }
      .content_toggle-open-v {
        display: none;
      }
    }
    .content_info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      height: 100%;
      .left {
        h1 {
          font-size: 4rem;
        }
      }
      .right {
        video {
          width: 450px;
        }
      }
    }
  }
}
@include m.desktopXl {
  header {
    .content_info {
      .right {
        video {
          width: 600px;
        }
      }
    }
  }
}
