//Imports
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Mukta&display=swap');

//Paleta de colores
$gris: #E5E7E9;
$azul: #0E45C4; 
$blanco :#ffff;
$azulClaro: #326EF7;
$negro: black;
$morado: #76448A;
$azulRgb: rgb(36,36,73);
$azulGradiente: linear-gradient(90deg, rgba(36,36,73,1) 0%, rgba(12,0,181,1) 100%);
$azulAguaMarina:  #07cbd1;
$grisMedio: rgb( 191, 201, 202 );
//Fuentes
$body: 'Barlow Semi Condensed', sans-serif;
$body2: 'Mukta', sans-serif;

//Medidas
$phone: 30rem;
$tablet: 30.063rem;
$desktop: 48rem;
$desktopXl: 75rem;
